@{
	ViewData["Title"]	=	"Sistema Porto";
}

<div class="jumbotron">
	<h1>Tecnologia Portuaria</h1>
</div>
<div class="row">
	<h2>Bem vindo ao sistema Porto</h2>
	<p>
		Cadastrar, editar e remover conteiners e movimentações.
	</p>
</div>